*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../imagens/plano.jpg);
    background-size: cover;
}
nav{
    display: flex;
    height: 80px;
    padding: 25px;
    align-content: center;
    justify-content: space-between;
    background-color: darksalmon;
    font-weight: bold;
}

ul{
    display: flex;
    width: 500px;
    justify-content: space-between;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

p{
    text-align: center;
}

img{
    width: 50%;
}

div{
    text-align: center;
}